<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title> {% block title %} {% endblock %} </title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesdesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="{{url_for('static',filename='assets/images/favicon.ico')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/metro/MetroJs.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/morris/morris.css')}}">
    <link href="{{url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css')}}"
        rel="stylesheet">

    <link href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='assets/plugins/animate/animate.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='assets/css/icons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet" type="text/css">


    <link href="{{url_for('static',filename='assets/plugins/RWD-Table-Patterns/dist/css/rwd-table.min.css')}}" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/plugins/chartist/css/chartist.min.css')}}">
    <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet" type="text/css">


      <link rel="stylesheet" href={{url_for('static',filename="chosen/docsupport/prism.css")}}>
      <link rel="stylesheet" href={{url_for('static',filename="chosen/chosen.css")}}>
</head>